<footer class="py-4 bg-light mt-auto">
    <div class="container-fluid px-4">
        <div class="d-flex align-items-center justify-content-between small">
            <div class="text-muted">Copyright &copy; TDTUPay 2022</div>
            <div>
                <a href="#">Chính sách quyền riêng tư</a> &middot;
                <a href="#">Điều khoản &amp; Điều kiện</a>
            </div>
        </div>
    </div>
</footer>